:root {
  // --primary-color: rgb(161, 194, 206);
  // --primary-color: rgb(235, 182, 208);
  --primary-color: #a9b9bf;
  --secondary-color: #082d0f;
  // --secondary-color: rgb(161, 194, 206);
  --active-color: hotpink;
  --accent-color: #d9d9df;
}
[data-theme="dark"] {
  --background-color: #212121;
}

body,
html {
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

button:hover {
  cursor: pointer;
}

h2 {
  margin-bottom: 2px;
  font-size: 2rem;
  position: relative;
}

.underline {
  border-bottom: 6px solid var(--secondary-color);
}

.small-container {
  background: var(--primary-color);
  margin: 0.1rem;
  padding: 0.5rem;
}
.small-container:active {
  background: var(--active-color);
}

.border-radius {
  border-radius: 5pt;
}

img {
  width: 5rem;
}

.padding {
  padding: 1rem;
}

.margin {
  margin: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  background-color: var(--accent-color);
  width: 0px;
}

h1 {
  font-size: 3rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.large-container {
  background-color: var(--accent-color);
  padding: 1rem;
  max-height: 80vh;
  overflow-y: scroll;
}

.grid-container--small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  gap: 1rem;
}
.grid-container--large {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.center-text {
  margin: auto;
  text-align: center;
}

.flexbox {
  display: flex;
}

.border {
  border: 1pt solid black;
}

.secondary-backround-color {
  background-color: var(--secondary-color);
  color: white;
}

.accent-backround-color {
  background-color: var(--accent-color);
}

.primary-backround-color {
  background-color: var(--primary-color);
}

.large-img {
  width: clamp(20rem, 60%, 40rem);
}

p {
  font-size: x-large;
}

.full-width {
  width: 100%;
}

.large-text {
  font-size: xx-large;
}

button {
  font-family: serif;
}

label {
  font-size: xx-large;
}

input[type="text"] {
  font-size: large;
  height: 2rem;
  width: 100%;
  background-color: var(--accent-color);
  border: none;
}

.large-font {
  font-size: large;
}

textarea {
  background-color: var(--accent-color);
  border: none;
  font-size: large;
  font-family: serif;
  font-weight: 0;
}

.cursor-pointer{
  cursor: pointer;
}