@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container--small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
  align-content: start; /* Add this line */
}
#hov:hover {
  background-color: var(--hover-background);
}

.sidebar-fullscreen {
  width: 100% !important;
}

@media screen and (min-width: 400px) {
  .sidebar-fullscreen {
    width: auto !important;
  }
}
