:root {
  --backgroud-color: rgb(235, 182, 208);
}
[data-theme="dark"] {
  --background-color: #212121;
}

body {

}
.small-container{
  background-color: var(--backgroud-color);
  border: 1pt solid black;
}
img{
  display: none;
}


body,html{
  box-sizing: border-box;
}