@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container--small {
  column-width: 26rem;
  column-gap: 1rem;
}

.item {
  break-inside: avoid;
  padding-bottom: 1rem;
}

#hov:hover {
  background-color: var(--hover-background);
}

.sidebar-fullscreen {
  width: 100% !important;
}

@media screen and (min-width: 400px) {
  .sidebar-fullscreen {
    width: auto !important;
  }
}
