.search{
    width: 99vw;
    margin: 0;
    padding: 0;
    z-index: 100;
}
.input{
    width: 100%;
}
.table{
    position: fixed;
    display: flex;
    flex-direction: column;
}
.tr{
    border: 1pt solid red;
}
.item{
    /* border: 1pt solid red; */
}