.modal-container{
  width: var(--topLeftBoardWidth);
  height: var(--topLeftBoardHeight);

}
.modal-container img {
  border-radius: 0;
  width: calc(var(--topLeftBoardWidth)* (1/3));
  height: calc(var(--topLeftBoardheight)* (1/3));
  box-sizing: border-box;
  padding-left: var(--topLeftBoardGap);
}


h5 {
  cursor: pointer;
}
.input {
  margin: auto;
max-width: calc(var(--topLeftBoardWidth)* 0.9);
}
input{
  width: calc(var(--topLeftBoardWidth)* 0.8);
}
.model-content-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item {
  background-color: white;
  border: none;
}
.title{
  font-size: calc(var(--card-font-size) * 2);
  font-family: 'Times New Roman', Times, serif;
}