.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: var(--topLeftBoardWidth);
  background-color: var(--board-color);
  border-radius: var(--border-radius);
  height: var(--topLeftBoardHeight);
  border: var(--border-width) solid black;
  background-color: var(--board-color);
}
#board0 {
  margin-right: var(--topLeftBoardGap);
}
#board0 .board__cards {
  display: block;
  overflow-y: scroll;
  margin: auto;
}
#board1 .board__cards {
  display: block;
  overflow-y: scroll;
  margin: auto;
}
.board2-cards-container {
  display: flex;
  box-sizing: border-box;
  padding-left: 0.7%;
  padding-right: 0.7%;
  overflow-y: scroll;
}

#board2 .board__cards {
  display: flex;
  flex-direction: row;
  overflow-y: visible;
  height: max-content;
}
#board2 {
  --bottomLeftBoardWidth: calc(
    var(--topLeftBoardWidth) * 2 + var(--topLeftBoardGap)
  );
  width: var(--bottomLeftBoardWidth);
}
#board3,
#board4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(var(--topLeftBoardWidth) * 0.69);
  height: calc(var(--topLeftBoardHeight) * 2.035);
  background-color: var(--pink);
  overflow-x: hidden;
  margin-left: var(--topLeftBoardGap);
}
#board3 .board__cards {
  height: calc(var(--topLeftBoardHeight) * 1.8);
  margin-left: 1vw;
  flex-wrap: nowrap;
  overflow-y: scroll;
  margin-right: 1rem;
}
.board__top {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1vw;
  height: calc(var(--topLeftBoardHeight) * (2 / 15));
  width: var(--topLeftBoardWidth);
  font-size: calc(var(--topLeftBoardHeight) * (1 / 20));
}

.board__cards {
  display: flex;
  flex-flow: column wrap;
  column-gap: 0.2vw;
  height: var(--topLeft_board_card_height);
  overflow-y: scroll;
  border-radius: var(--border-radius);
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__footer {
  display: flex;
  align-items: flex-end;
  height: var(--boardFooterHeight);
  margin-bottom: 0;
}
.board__dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  cursor: default;
}
.board__dropdown > p {
  border-bottom: 1px solid var(--drop-down-color);
  cursor: pointer;
}

.board__top > div > p {
  font-weight: bolder;
}
.total__cards {
  font-size: calc(var(--card-font-size) * (2 / 3));
  border-radius: calc(var(--border-radius) * 4);
  padding-inline: 0.4vw;
  border: 0.5px solid var(--card-box-shadow);
  background-color: var(--card-color);
  margin-inline: 0.2vw;
}
.title__input {
  font-weight: bold;
  /* padding-inline: 0.5rem; */
  height: var(--boardFooterHeight);
  width: calc(var(--topLeftBoardWidth) * (1 / 3));
  border-radius: var(--border-radius);
}

@media screen and (max-width: 800px) {
  .board {
    width: 95vw;
    max-height: 82vh;
  }
  #board2 {
    width: 95vw;
  }
  .board__cards {
    flex-wrap: nowrap;
    max-height: calc(var(--boardsHeight) * 0.18);
    overflow-y: scroll;
  }
}
