.editable {
  width: var(--topLeftBoardWidth);
  height: var(--boardFooterHeight);
}
.editable > p {
  position: absolute;
  bottom: calc(var(--boardFooterHeight) * (-0.35));
  display: flex;
  height: calc(var(--boardFooterHeight) * (1 / 2));
  width: calc(var(--card-font-size) * 8);
  font-size: calc(var(--card-font-size));
  border-radius: var(--border-radius);
  background-color: var(--pink);
}
.editable > p:hover {
  background-color: pink;

  cursor: pointer;
}
.editable > p.board3{
  background-color: black;
  color: white;
}
.editable__input {
  display: flex;
  gap: var(--topLeftBoardGap);
}
.editable__input > textarea {
  height: calc(var(--boardFooterHeight) * (3 / 5));
  width: calc(var(--topLeftBoardWidth) * (1 / 3));
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: calc(var(--card-font-size));
  background-color: #fafbfc;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2vh;
}
.editable__input > textarea:focus {
  border: none;
  outline: none;
}
.btn__control {
  display: flex;
}
.btn__control > button {
  height: calc(var(--boardFooterHeight) * (3 / 5));
  width: calc(var(--topLeftBoardWidth) * (1 / 4));
  border-radius: var(--border-radius);
  font-size: min(calc(var(--card-font-size)), 1.6vw);
  background-color: var(--pink);
  margin-top: 2vh;
  border: none;
}
.btn__control > button:hover {
  background-color: var(--pink);
  cursor: pointer;
}
.close:hover {
  cursor: pointer;
}
.close {
  margin-top: max(1vw, 1.5vh);
}
